$white-color: #ffffff;
$yellow-bg: #f8dc06;
$black-color: #000000;
$red-color: #ff0000;
$grey-200: #f4f4f4;
$grey-300: #e6e6e6;
$grey-500: #b7b7b7;

$font-family-sans-serif: 'Bangers', cursive;

$beak-point-sm: 576px;
$beak-point-md: 768px;
$beak-point-lg: 992px;
$beak-point-xl: 1200px;
$beak-point-xxl: 1400px;
