$white-color: #ffffff;
$yellow-bg: #f8dc06;
$black-color: #000000;
$red-color: #ff0000;

$beak-point-sm: 576px;
$beak-point-md: 768px;
$beak-point-lg: 992px;
$beak-point-xl: 1200px;
$beak-point-xxl: 1400px;
