@use '../variables';

.offcanvas-body {
    overflow: visible;
}

.minicart {
    &__header {
        align-items: center;
    }

    &__qty {
        margin-left: 10px;
    }

    &__title {
        margin-bottom: 0;
    }
}

.minicart-product-total,
.cart-product-total {
    background: variables.$grey-200;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 10px 0;
    padding-left: 1rem;
    padding-right: 1rem;

    p {
        margin-bottom: 0;
    }

    .subtotal,
    .tax-cost {
        border-bottom: 1px solid variables.$grey-500;
        margin-bottom: 12px;
        padding-bottom: 12px;
    }

    .subtotal,
    .estimated-total {
        .col {
            &:last-child {
                flex-grow: 0;
            }
        }
    }

    .sub-total-label,
    .total-amount {
        font-size: 1.8rem;
    }
}

.minicart-footer,
.cart-footer {
    padding: 20px 0;
}

.cart-empty-msg {
    text-align: center;
}
