@use '../variables';

.minicart {
    &__header {
        align-items: center;
    }

    &__qty {
        margin-left: 10px;
    }

    &__title {
        margin-bottom: 0;
    }
}

.line-item-details {
    padding-left: 10px;
    padding-right: 10px;

    .line-item-header {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .line-item-title {
        margin-bottom: 0;
    }

    .remove-btn {

    }
}

.product-line-item-details {
    background: variables.$grey-200;
    border-bottom: 1px solid variables.$grey-500;

    &:last-child {
        border-bottom: none;
    }

    .line-item-details-image {
        align-items: center;
        background: variables.$grey-300;
        display: flex;

        .line-item-image-wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
            gap: 2px;
            height: fit-content;
        }

        .card-img-top {
            height: max-content;
            width: 100%;
        }
    }
}


.minicart-product-total {
    background: variables.$grey-200;
    margin: 10px 0;

    p {
        letter-spacing: 1.5px;
        margin-bottom: 0;
    }

    .subtotal,
    .tax-cost {
        border-bottom: 1px solid variables.$grey-500;
        margin-bottom: 12px;
        padding-bottom: 12px;
    }

    .subtotal,
    .estimated-total {
        .col {
            &:last-child {
                flex-grow: 0;
            }
        }
    }

    .sub-total-label {
        font-size: 1.5rem;
    }
}
