@use '../variables';
@use 'sass:color';

.letter-title {
  color: variables.$white-color;
  text-align: center;
}

.retro-sign {
    box-sizing: border-box;
    margin-bottom: 2vw;

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__text-field {
        flex: 0 1 100%;
        padding: 20px;
        outline: none;
    }
}

#sign-wrapper {
    background-color: variables.$black-color;
    border: 5px double variables.$white-color;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    opacity: 0;

    &.active {
        opacity: 1;
    }
}

.retro-sign__img {
    max-width: 150px;
    width: 100%;
    margin: 15px 10px;
}

#price-wrapper {
    background-color: variables.$yellow-bg;
    text-align: center;

    .price-range {
        color: variables.$black-color;
    }
}

/* Media Queries */
@media screen and (min-width: variables.$beak-point-sm) {
    .letter-title {
        font-size: 72px;
    }

    .retro-sign {
        &__text-field {
        flex: 0 1 80%;
        }
    }
}