@use '../variables';

* {
    box-sizing: border-box;
}

body {
    background: url("../assets/images/retro_bg.jpg") no-repeat fixed center;
    background-color: variables.$yellow-bg;
    background-size: cover;
    font-family: variables.$font-family-sans-serif;
    font-size: 18px;
}

h2 {
    text-align: center;
}