@use '../variables' as *;

* {
    box-sizing: border-box;
}

body {
    background: url("../assets/images/retro_bg.jpg") no-repeat fixed center;
    background-color: $yellow-bg;
    background-size: cover;
    font-family: 'Bangers', cursive;
    font-size: 18px;
}

h2 {
    text-align: center;
}